@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #03313e; 
    color: #fff;
  }
  
  input,
  textarea {
    color: #000;
  }
  
  select option {
    color: black;
  }